body{
    background-image:url("soap-bubbles-background_36860-230.jpg");
    background-size: cover;
    background-attachment: fixed;
}

#chatContainer{
    background-color: rgba(0, 0, 139, 0.383);
    color:white;
    text-shadow:2px 2px 3px black;
    border:none;
    box-shadow:5px 5px 10px black;
}

button{
    background-color: blue;
    color:white;
    text-shadow:2px 2px 3px black;
    border:none;
    box-shadow:5px 5px 10px black;
    padding:10px;
    border-radius:20px;
}
