#chatBox{
    display:flex;
    flex-direction: column;
    border:solid;
    height: 80vg;
    width: 80vw;
}

#chatLog{
    border:solid;
    height: 80%;
    width: 80%;
    padding:5%;
    border:solid;
}

#chatLog>p{
    border:solid;
   
}

#chatInput{
    
}
