body{
    background-image:url("background-gc56d1604d_1280.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#chatContainer{
    background-color:rgba(131, 86, 3, 0.616);
    border:none !important;
}

#chatLog{
    color:white;
    text-shadow:0px 0px 2px black;
}

#chatLogBox{
    padding:5%;
    background-color:rgba(0, 128, 0, 0.527);
    border-radius:20px; 

}

#userListBox{
    background-color:rgba(214, 183, 9, 0.411);
    border-radius:20px;
    padding:5%;
}

button{
    border:none;
    background-color: green;
    color:white;
    padding:2px;
}
button:focus{
    border:inset 1px;
}